body,
html {
  margin: auto 0;
  width: 100%;
  height: 100%;
  font-family: 'Road Rage', sans-serif;
  background-color: black; 
}

.main-nav {
    display: flex;
    align-items: center;
    margin: 0;
    padding-top: 1%;
    cursor: pointer;
    transition: all 0.3s linear;
    list-style: none;
    font-family: 'Architects Daughter', cursive;
    font-size: 1.5rem;
    height: 15vh;
}

.sign {
    font-family: 'comforter', cursive;
    font-size: 2.5rem;
    cursor: grab;
    color: #F05F44;
    margin-right: auto;
    text-align: right;
    
}

li{
    padding: 20px;
    text-align: center;
}

a {
    color:beige;
}

a:hover {
    color: #F05F44;
    text-decoration: none;
    font-size: 2rem;
}

hr {
    margin: 20px auto;
    color: #F05F44;
    border: 0.8px solid #F05F44;
    width: 95%;
    opacity: 1;  
}

.push {
    margin-left: auto;
}

.item-a {
    grid-area: foto1;
    border-radius: 80%;
    
}

.item-b {
    grid-area: texto1;
    color:beige;
    text-align: center;
    text-justify: center;
    font-size: 5rem;
    font-family: 'comforter'; 
}

.item-c {
    grid-area: foto2;
}

.item-d {
    grid-area: texto2;
    color:beige;
    text-align: center;
    text-justify: center;
    font-size: 5rem;
    font-family: 'comforter';
}

.grid-wrapper {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 25% 50% 25%;
    grid-template-areas: 
    "foto1 texto1"
    "foto1 foto2"
    "foto1 texto2";
    column-gap: 30px;
    height: 70vh;
    margin-left: 100px;
    margin-right: 100px;
}

.box >img {
    width: 100%;
    height: 100%;
}

@media only screen and (max-width:950px) {
    .main-nav {
      font-size: 0.9em;
      padding: 0;
    }
    .sign {
        font-size: 1.5rem;
        padding: 0;
    }
    .item-b {
        font-size: 3rem;
        padding: 0;   
    }
    .item-d {
        font-size: 3rem;
        padding: 0;   
    }
}

footer {
    text-align: center;
    font-size: 0.5rem;
    color: beige;
    font-family: "Road Rage";
    margin-top: 10px;
  }

footer:hover {
    font-style: italic;
}

.acerca { 
    background-image: url(acerca.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }